{% extends "base.html" %}
{% block content %}

    <form action="{{url_for('ec2_create')}}" method="post">
        <input type="submit" value="New">
    </form>

    <form action="{{url_for('ec2_list')}}" method="post">
        <input type="submit" value="Filter">
        <select name="filter">
            <option value="all">All</option>
            <option value="pending">Pending</option>
            <option value="running">Running</option>
            <option value="shutting-down">Shutting-down</option>
            <option value="stopped">Stopped</option>
            <option value="stopping">Stopping</option>
            <option value="terminated">Terminated</option>
        </select>
    </form>

    <table />
    <thead>
       <th>ID</th>
       <th>Type</th>
       <th>Availability Zone</th>
       <th>Status</th>
    </thead> 
    {% for instance in instances %}
        <tr>
            <td>{{ instance.id }}</td>
            <td>{{ instance.instance_type }}</td>
            <td>{{ instance.placement['AvailabilityZone']}}</td>
            <td>{{ instance.state['Name'] }}</td>
            <td>
                <form action="{{url_for('ec2_view',id=instance.id)}}" method='get'>
                    <input type='submit' value='Details' />
                </form>
            </td>
         
            <td>
                <form action="{{url_for('ec2_destroy',id=instance.id)}}" method='post' onsubmit='return confirm("Are you sure?")'>
                    <input type='submit' value='Destroy' />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}