{% extends "base.html" %}
{% block content %}
    <form action='{{url_for("ec2_list")}}' method='get'>
        <input type='submit' value='Back' />
    </form>

    <table>
        <tr><td>ID</td><td> {{ instance.id }}</td></tr>
        <tr><td>Image AMI ID</td><td> {{ instance.image_id }}</td></tr>
        <tr><td>Key Pair </td><td> {{ instance.key_name }}</td></tr>
        <tr><td>Public IP Address</td><td>{{ instance.public_ip_address }}</td></tr>
        <tr><td>State</td><td>{{ instance.state['Name'] }}</td></tr>
    </table>


    <h2>CPU</h2>

    <div id="cpu_plot" style="width:300px;height:150px"></div>

    <h2>Network In</h2>

    <div id="net_in_plot" style="width:300px;height:150px"></div>


    <h2>Network Out</h2>

    <div id="net_out_plot" style="width:300px;height:150px"></div>


    <script>

        var options = {
            series: {
                lines: { show: true },
                points: { show: true }
            }
        };


        $.plot($("#cpu_plot"), [ {{ cpu_stats }} ] , options);
        $.plot($("#net_in_plot"), [ {{ net_in_stats }} ] , options);
        $.plot($("#net_out_plot"), [ {{ net_out_stats }} ] , options);

    </script>

{% endblock %}