<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>
        <title>{{title}}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <h1 style="text-align: center;">{{title}}</h1>
        {% block content %}
        {% endblock %}
    </body>
</html>