<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SetMode</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>
    <script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>

<body onload='select_mode("{{mode}}")'>
<p id="type" style="display:None">{{mode}}</p>
    <form action="{{url_for('main')}}" method="get">
        <input type="submit" value="return">
    </form>
<form action="{{ url_for('refreshMode')}}" method=post enctype="multipart/form-data">
    <table  border="1" >
        <tr>
          <td>
            <h3>Select between two mutually-exclusive options for resizing the memcache pool:</h3>
            <div>
                <input type="radio" name="mode" value="Manual" onclick='gray("Manual")'>
                <label for="mode">Manual</label>
            </div>
            <div>
                <input type="radio" name="mode" value="Auto" onclick = 'gray("Auto")'>
                <label for="mode">Auto</label>
            </div>
          </td>
        </tr>
        <tr id="imageCell" >
            <td>
                Number of nodes to configure for manual mode:<br>
                <input type="button" value="shrink" id="shrink" onclick="change_size('shrink')"/>
                <input type="number" value={{num_node}} id="num_node" name="num_node"/>
                <input type="button" value="expand" id="expand" onclick="change_size('expand')"/>
            </td>
        </tr>
        <tr>
            <td>
                Max Threshold:
                    <input type="number" value="0.9" name="max_thr" id="max_threshold" step="0.001"><br>

                    Min Threshold:
                    <input type="number" value="0.1" name="min_thr" id="min_threshold" step="0.001"><br>

                    Expand Ratio:
                    <input type="number"  value="2" name="expand_ratio" id="expand_ratio" step="0.001"><br>

                    Shrink Ratio:
                    <input type="number" value="0.5" name="shrink_ratio" id="shrink_ratio" step="0.001"><br>

            </td>
        </tr>
    </table>
    <input type="submit" value="submit" onclick="return checkMode();">

</form>
{% if result %}
  <h1>{{ result }}!</h1>
{% else %}
  <h1></h1>
{% endif %}
</body>
</html>