<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css')}}">
    <style type="text/css">
    td,th{text-align:center;border-style:solid;width:250px;overflow:hidden}
    </style>
</head>
<body>
<form action="{{url_for('main')}}" method="get">
        <input type="submit" value="return">
</form>
<h1>Statistics within 30 minutes</h1>
<table />
         <tr>
            <th>Updated Time</th>
            <th>Number of items</th>
             <th>Total Size</th>
            <th>Number of requests sent</th>
             <th>Miss rate</th>
            <th>Hit rate</th>
         </tr>
    {% for i in range(cursor['Time'] |length) %}
        <tr>
            <td>{{ cursor['Time'][(cursor['Time'] |length)-1-i]}}</td>
        <td>{{ cursor['NumItem'][(cursor['Time'] |length)-1-i]}}</td>
        <td>{{ cursor['TotalSize'][(cursor['Time'] |length)-1-i]}}</td>
        <td>{{ cursor['NumRequest'][(cursor['Time'] |length)-1-i]}}</td>
        <td>{{ cursor['MissRate'][(cursor['Time'] |length)-1-i]}}</td>
        <td>{{ cursor['HitRate'][(cursor['Time'] |length)-1-i]}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>