<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ListKey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css')}}">
</head>
<body>
    <form action="{{url_for('main')}}" method="get">
        <input type="submit" value="return">
    </form>
    <h1>Key List</h1>

    <table />


    {% for row in cursor %}
        <tr>
            <td>{{ row[0]}}</td>
        </tr>
    {% endfor %}
    </table>

<script>
setInterval(function() {
    const xhr = new XMLHttpRequest();
    xhr.open("GET", "pop_up", true);
    xhr.send();

    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 ) {
            if ( xhr.status === 200 ) {
                console.log(JSON.parse(xhr.responseText) )
                const response = JSON.parse(xhr.responseText);
                if(response.message=='increased'){
                    alert("node increased to " +  response.value);

                }
                if(response.message=='decreased'){
                    alert("node decreased to " + response.value);

                }

            }
            else {
                console.log(xhr.statusText);
            }
        }
    }
}
,2000);
</script>
    </body>
</html>