{% extends "base.html" %}
{% block content %}
<body onload="check_size({{size}},'{{type}}');">
    <form action="{{url_for('main')}}" method="get">
        <input type="submit" value="return">
    </form>

    <table  border="1" >
        <tr>
          <td>
            <h3>Selecting between two mutually-exclusive options for resizing the memcache pool:</h3>
            <div>
                <form action="{{ url_for('resize_manu')}}" method=post enctype="multipart/form-data">
                    <input type="submit" id="manu" value="Manual mode"></form>
            </div>
            <div>
                <form action="{{ url_for('resize_auto')}}" method=post enctype="multipart/form-data">
                    <input type="submit" id="auto" value="automatic"></form>
            </div>
          </td>
        </tr>





        <tr>
            <td>
                <h3>Manual Mode - Change size:</h3>
                <form action="{{ url_for('shrink_pool')}}" enctype="multipart/form-data" method=post>
                    <input type="submit" id="shrink" value="shrink pool"></form>

                <p>  {{size}}</p>

                <form action="{{ url_for('expand_pool')}}" enctype="multipart/form-data" method=post>
                    <input type="submit" id="expand" value="expand pool"></form>
            </td>
        </tr>





        <tr >
            <td>
                <h3>Automatic Mode:</h3>
                <form action="{{ url_for('auto_mode')}}" method=post enctype="multipart/form-data">
                <table style="border:0px">

                    Max Threshold:
                    <input type="number" value="0.3" name="auto" step="0.001">

                    Min Threshold:
                    <input type="number" value="0.1" name="auto" step="0.001">

                    Expand Ratio:
                    <input type="number"  value="2" name="auto" step="0.001">

                    Shrink Ratio:
                    <input type="number" value="0.5" name="auto" step="0.001">

                    </br><input type="submit" >

                </table>
                </form>

            </td>
        </tr>
    </table>




{% if result %}
  <h1>{{ result }}!</h1>
{% else %}
  <h1></h1>
{% endif %}

</body>
{% endblock %}