<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- change it to the css file it wants!-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
    <table border="1" >
        <tr>
          <td>
            <label for="getKey">Key:</label>
            <input id="getKey" type="text" placeholder="" />
            <button>get</button>
          </td>
        </tr>
        <tr id="imageCell" style="display:none">
            <td>
              <img id="showimg" src="" style="display:none;" />
            </td>
        </tr>
    </table>
</body>
</html>