<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <h1 style="text-align: center;">ECE1779 - Introduction to Cloud Computing</h1>
    <h2 style="text-align: center;">Group 22</h2>

    <p style="text-align: center;">
        Junyun Ruan  1004388851<br>
                          <br>
        Yixin Wang  1009226375<br>
                          <br>
        Yinfei Song  1004537487<br>
                          <br>

                    <br>
    </p>

    <table border="1" >
        <tr>
            <td>
                <a href="{{ url_for('put')}}">put</a>
            </td>

        </tr>

    </table>


    <br><br><br>
    <table border="1" >
        <tr>
            <td>
                <a href="{{ url_for('get')}}">get</a>
            </td>

        </tr>


    </table>
    <br><br><br>
    <table border="1" >
        <tr>
            <td>
                <a href="{{ url_for('key')}}">Key List</a>
            </td>

        </tr>

    </table>
    <br><br><br>
    <table border="1" >
        <tr>
            <td>
                <a href="{{ url_for('configure')}}">mem-cache configuration</a>
            </td>

        </tr>

    </table>
    <br><br><br>
    <table border="1" >
        <tr>
            <td>
                <a href="key.html">Key List</a>
            </td>

        </tr>

    </table>

<iframe id="myIframe" name="hideIframe" style="display:none;"></iframe>
<script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>



</body>
</html>