<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
</head>
<body>
    <form action="{{url_for('main')}}" method="get">
        <input type="submit" value="return">
    </form>
    <form class="container" action="{{ url_for('put')}}"
          enctype="multipart/form-data" method=post id="formBox"
              name="form" >
<!--        target="hideIframe">-->
            <table border="1" >
                <tr>
                    <td>
                        <label for="getKey">Key:</label>
                        <input id="getKey" type="text" name="key" placeholder="" />
                        {{status}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="getImage">Image:</label>
                        <input id="getImage" type="file" name="file"  onchange="showImg(this)" />
                    </td>
                </tr>
                <tr id="imageCell" style="display:none">
                    <td>
                        <img id="showimg" src="" style="display:none;" />
                    </td>
                </tr>
            </table>
            <input type=submit value=Upload>
        </form>
{% if result %}
  <h1>{{ result }}!</h1>
{% else %}
  <h1></h1>
{% endif %}

    <form action="{{url_for('main')}}" method="get">
        <input type="submit" value="return">
    </form>
</body>



<!--<iframe id="myIframe" name="hideIframe" style="display:none;"></iframe>-->
<!--<script type="text/javascript" src="../js/index.js"></script>-->
<script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>
</html>


























<!--<body>-->
<!--&lt;!&ndash;    <form class="container" action="{{ url_for('put')}}"&ndash;&gt;-->
<!--&lt;!&ndash;          enctype="multipart/form-data" method="post" id="formBox"&ndash;&gt;-->
<!--&lt;!&ndash;              name="form" target="hideIframe">&ndash;&gt;-->
<!--&lt;!&ndash;            <table border="1" >&ndash;&gt;-->
<!--&lt;!&ndash;                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <label for="getKey">Key:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                        <input id="getKey" type="text" name="key" placeholder="" />&ndash;&gt;-->
<!--&lt;!&ndash;                    </td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <label for="getImage">Image:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                        <input id="getImage" type="file" name="file"  onchange="showImg(this)" />&ndash;&gt;-->
<!--&lt;!&ndash;                    </td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <tr id="imageCell" style="display:none">&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <img id="showimg" src="" style="display:none;" />&ndash;&gt;-->
<!--&lt;!&ndash;                    </td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            </table>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="submit"  value="submit" onclick="noJump();"/><br>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->

<!--<form action="{{ url_for('put')}}" method=post enctype=multipart/form-data >-->
<!--      <label>key:</label>-->
<!--      <input type="text" name="key" />-->
<!--      <label>Image:</label>-->
<!--      <input type=file name=file>-->
<!--      <input type=submit value=Upload></form>-->
<!--</body>-->
<!--<iframe id="myIframe" name="hideIframe" style="display:none;"></iframe>-->
<!--&lt;!&ndash;<script type="text/javascript" src="../js/index.js"></script>&ndash;&gt;-->
<!--<script type="text/javascript" src="{{ url_for('static',filename='index.js') }}"></script>-->
<!--</html>-->