<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css')}}">
    <style type="text/css">
    td,th{text-align:center;border-style:solid;width:200px;overflow:hidden}
    </style>
</head>
<body>
<h1>Statistics within 10 minutes</h1>
<table />
         <tr>
            <th>Updated Time</th>
            <th>Number of items</th>
             <th>Total Size</th>
            <th>Number of request sent</th>
             <th>Miss rate</th>
            <th>Hit rate</th>
         </tr>
    {% for row in cursor %}
        <tr>
            <td>{{ row[0]}}</td>
        <td>{{ row[1]}}</td>
        <td>{{ row[2]}}</td>
        <td>{{ row[3]}}</td>
        <td>{{ row[4]}}</td>
        <td>{{ row[5]}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>